<div class="mx-20 my-10">
    <h2 class="text-2xl"><span class="text-red-500 rounded-full border border-red-500 mx-4 px-2">4</span>¿Te Gustaría que sean impresas?</h2>
    <p>Impresión</p>
    <img src="assets/images/interrogante.png" alt="icon">
    <input type="checkbox" name="" id=""><img src="assets/images/simple.png" alt="image">
    <input type="checkbox" name="" id=""><img src="assets/images/una-cara.png" alt="image">
    <input type="checkbox" name="" id=""><img src="assets/images/dos-cara.png" alt="image">
    <p>Colores</p>
    <img src="assets/images/interrogante.png" alt="icon">
    <input type="checkbox" name="" id=""><img src="assets/images/ninguni.png" alt="image">
    <input type="checkbox" name="" id=""><img src="assets/images/un-color.png" alt="image">
    <input type="checkbox" name="" id=""><img src="assets/images/dos-colores.png" alt="image">
    <input type="checkbox" name="" id=""><img src="assets/images/full-color.png" alt="image">
    
</div>