<div class="mx-20 my-10">
  <h2 class="text-2xl">
    <span class="text-red-500 rounded-full border border-red-500 mx-4 px-2">4</span>¿Te Gustaría que sean impresas?
  </h2>
  <div class="ml-8">
    <div class="my-3">
      <p>Impresión</p>
      <img src="assets/images/interrogante.png" alt="icon" class="inline">
      <div class="ml-3 inline">
        <mat-radio-group>
          <mat-radio-button value="auto" class="ml-1 mt-3 md:ml-3">
            <img src="assets/images/simple.png" alt="image">
          </mat-radio-button>
          <mat-radio-button value="always" class="mx-8 my-3 md:ml-3">
            <img src="assets/images/una-cara.png" alt="image">
          </mat-radio-button>
          <mat-radio-button value="always" class="ml-8 md:ml-3">
            <img src="assets/images/dos-cara.png" alt="image">
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="my-3">
      <p>Colores</p>
      <img src="assets/images/interrogante.png" alt="icon" class="inline">
      <div class="ml-3 inline">
        <mat-radio-group>
          <mat-radio-button value="auto" class="ml-1 my-3 md:ml-3">
            <img src="assets/images/ninguno.png" alt="image">
          </mat-radio-button>
          <mat-radio-button value="always" class="mx-8 md:ml-3">
            <img src="assets/images/un-color.png" alt="image">
          </mat-radio-button>
          <mat-radio-button value="always" class="mx-8 my-3 md:ml-3">
            <img src="assets/images/dos-colores.png" alt="image">
          </mat-radio-button>
          <mat-radio-button value="always" class="ml-8 md:ml-3">
            <img src="assets/images/full-color.png" alt="image">
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

</div>