<div class="mx-20 my-10">
    <h2 class="text-2xl"><span class="text-red-500 rounded-full border border-red-500 mx-4 px-2">5</span>Selecciona el Diseño</h2>
    <p>Selecciona un diseño</p>
    <img src="assets/images/interrogante.png" alt="icon">
    <img src="assets/images/image-drop.png" alt="icon">
    <img src="assets/images/rectangle.png" alt="icon">
    <img src="assets/images/rectangle-uno.png" alt="icon">
    <img src="assets/images/rectangle-dos.png" alt="icon">
    <img src="assets/images/rectangle-tres.png" alt="icon">
    <img src="assets/images/rectangle-cuatro.png" alt="icon">
    <img src="assets/images/rectangle-cinco.png" alt="icon">
    <img src="assets/images/rectangle-seis.png" alt="icon">
</div>
