#box-slidein {
    animation: 5s slidein infinite alternate;
  }
  @keyframes slidein {
    from {
      margin-right: 0%;
      width: 30%
    }
    to {
      margin-right: 10%;
      width: 30%;
    }
  };

#box-rotate {
    animation: 10s rotate linear infinite;
    transform-origin: 50% 50%;
  }
  @keyframes rotate {
    from {
          transform: rotate(0deg);
          width: 13%;
        }
    to {
        transform: rotate(360deg);
        width: 13%;
    }
};

#box-up{
    animation: 5s up infinite alternate;
  }
  @keyframes up {
    from {
      margin-bottom: 0%;
      width: 25%
    }
    to {
      margin-top: 4%;
      width: 25%;
    }
  };

#image-container{
    overflow-x: hidden !important;
};