<div class="mx-20 my-10">
    <h2 class="text-2xl"><span class="text-red-500 rounded-full border border-red-500 mx-4 px-2">2</span>Detalles</h2>
    <img src="assets/images/interrogante.png" alt="icon"><input type="text"/>
    <img src="assets/images/interrogante.png" alt="icon"><input type="text"/>
    <img src="assets/images/interrogante.png" alt="icon"><input type="text"/>
    <p>Tipo de Carton:</p>
    <img src="assets/images/interrogante.png" alt="icon">
    <input type="checkbox" name="" id=""><img src="assets/images/liner.png" alt="image">
    <input type="checkbox" name="" id=""><img src="assets/images/duplex.png" alt="image">
    <input type="checkbox" name="" id=""><img src="assets/images/foldcote.png" alt="image">
</div>

